DISCORD_TOKEN=isi_token_bot_discord
DISCORD_CLIENT_ID=isi_application_client_id
DISCORD_GUILD_ID=isi_server_guild_id

SUPABASE_URL=https://project-id.supabase.co
SUPABASE_SECRET_KEY=isi_secret_key_supabase_jangan_dibagikan
# Kalau dashboard Supabase kamu masih legacy, boleh pakai ini sebagai pengganti:
# SUPABASE_SERVICE_ROLE_KEY=isi_service_role_key_legacy_jangan_dibagikan

OWNER_DISCORD_ID=isi_id_owner

STORE_NAME=WS Store Official
STORE_TIMEZONE=Asia/Makassar
STORE_OPEN_HOUR=10
STORE_CLOSE_HOUR=22

QRIS_IMAGE_PATH=assets/qris-ws-store.png
